.edit-contact {
    display: grid;
    gap: 10px;

    .btn-container {
        display: flex;
        justify-content: space-between;
        padding-block: 10px;

        img {
            height: 30px;
        }
    }

    .contact-img {
        height: 80px;
    }

    form {
        display: grid;
        align-items: center;
        grid-template-columns: auto 1fr;
        gap: 10px;
        margin-block: 20px;

        input {
            border: 1px solid lightgray;
            border-radius: 4px;
            padding: 0.4em 0.6em;
        }
    }

    .save-btn {
        grid-column: 2;
        justify-self: end;
        border: 1px solid lightgray;
        border-radius: 4px;
        padding: 0.2em 0.6em;

        &:hover {
            background-color: lightgray;
        }

    }
}