.clean-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: lighter;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}